
   
  body {
    font-style: normal;
    line-height: 1.5;
    font-weight: 400;
    color: #ffffff;
    position: relative;
    background-image: url(Screenshot\ \(1\).png);
    padding-left: 100px;
  }


 h1{
     text-align: center;
     font-weight: bold;
   }

 input{
  background-color: rgb(202, 109, 109);
 }
  
 textarea{
   background-color: rgb(202, 109, 109);
 }
 
 .button{
   background-color: whitesmoke;
   size: 50px;
   border-radius: 70px;
 }