body{
    background-color:rgb(0, 0, 0);
    text-align: center;
    color: rgb(0, 255, 42);
}
    .container
    {
    text-align:center;
    }
    .center_div
    {
    border:1px solid rgb(216, 21, 21);
    margin-left:auto;
    margin-right:auto;
    width:90%;
    background-color:#4d0606;
    text-align:left;
    padding:8px;
    color: chartreuse;
    }