body{
    background-color: black;
    display: block;
    color:bisque;
}
.hdr {
    height: fit-content;
    background:transparent  ;
    position: relative;
    width: 100%;

  }
  .nav {
    display: inline-flex;
    justify-content: space-between;
    padding-right: 10px;
    display: flex;
  }
  .menu {
  align-items: flex-end;
  }
  #hed1 {
    text-shadow: none;
    display: inline-flex;
    padding-left: 20px;
    
  }
  #hed1 a {
    text-decoration: none;
  }
  #hed1 a:hover {
    color: #ff0000;
  }
  .lis1 {
    display: inline-flex;
    padding-right: 10px;
    padding-top: 20px;
  }
  
  .li1 {
    text-decoration: none;
    padding-right: 10px;
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif
  }
  .li1:hover {
    text-shadow: 0 5px 5px red;
  }
  .navlin {
    color: #fdfdfd;
    text-decoration: none;
  }
  .sec1{
    background: linear-gradient(#0c1358, black);
    display: flex;
  }
 .hedtab{
     font-family: sans-serif;
     color: chocolate;
 }
 .formhed{
     color: burlywood;
 }
